<!DOCTYPE html>
<html>
<head>
    <title>COSTEL</title>
</head>
<div style="width:100%; height:500px; background-color:powderblue">
    <h1>WebSocket Client</h1>
    <h1 id="question">Awaiting question</h1>

    <script>
        let socket = new WebSocket('ws://localhost:8000');
        // Handle open event
        socket.addEventListener('open', () => {
            console.log('Connected to WebSocket server');
        });
        // Handle message event
        socket.addEventListener('message', (event) => {
            console.log('Message from server:', event.data);
            Document.getElementById('question').text = event.data();
        });
        // Handle close event
        socket.addEventListener('close', () => {
            console.log('WebSocket connection closed');
        });
    </script>
</div>
</html>