<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">

    <style>
        * {
            margin: 0;
        }
    </style>

    <!-- Check and update for the latest bootstrap version -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>COSTEL</title>
</head>
<div class="container-fluid p-0">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-text p-2">
            COSTEL Question Input
        </span>
    </nav>
    <div class="container-fluid">
        <div class="card m-4">
            <div class="card-header bg-primary">
                <h1 class="text-white">Introduceti intrebarea</h1>
            </div>
            <div class="card-body bg-dark">
                <form>
                    <div class="form-inline">
                        <label for="questionInput" class="text-white">Question</label>
                        <input type="text" class="form-control" id="questionInput">
                    </div>
                </form>
            </div>
            <div class="card-body bg-dark">
                <button class="btn btn-primary m-2" type="button" onclick="sendData()">Send</button>
            </div>
        </div>

        <script>
            let socket = new WebSocket('ws://localhost:8000');
            // Handle open event
            socket.addEventListener('open', () => {
                console.log('Connected to WebSocket server');
            });
            // Handle message event
            socket.addEventListener('message', (event) => {
                console.log('Message from server:', event.data);
            });
            // Handle close event
            socket.addEventListener('close', () => {
                console.log('WebSocket connection closed');
            });

            function sendData(){
                socket.send(JSON.stringify(document.getElementById("questionInput").value));
                console.log('Sent: ' + document.getElementById("questionInput").value); 
            }
        </script>
    </div>
</div>
</html>